body {
    background-color: fuchsia;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    justify-content: center;
    align-items: center;
    height: auto;
}

div {
    width: 99.5%;
    height: 200px;
    background-color: blueviolet;
    border: 2px solid fuchsia;
    justify-content: center;
    align-items: center;
    display: flex;
}

div:nth-of-type(3){
    height: auto;
    justify-content: center;
    flex:1; 
}



.headers {
    color: fuchsia;
    font-size: 64px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.linkrow {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:link {
    color: fuchsia;

}

a:visited {
    color: fuchsia;
}

a:hover {
    color: crimson;
  
}
/* containing grid gallery */
#maincontent {
    padding-bottom: 30px;
    justify-items: center;
    display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            grid-auto-rows: minmax(200px, auto);
        
        }
        
#gridtitle{
    justify-content: center;
    text-align: center;
    grid-column: 1/5;
    grid-row: 1/2;
}


.polaroid{
    
    width:440px;
    Height:540px;
    background-color: white;
    transform: scale(1);
    transition: .5s;
}

.polaroid:hover{
    filter:grayscale(0%);
    transform: scale(1.1);
    box-shadow:10px 10px 5px black;
}

.photo{
    width:400px;
    height:400px;
    padding-left: 20px;
    padding-top: 20px;
    object-fit:cover;
}
p{
    text-align: center
}

/* break point for tablet  */
@media screen and (max-width:1800px){
   #maincontent {
    padding-bottom: 30px;
justify-items: center;
    display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px; 
        }
        #gridtitle{
    justify-content: center;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
}

}

/* break point for mobile */
@media screen and (max-width:900px){
 #maincontent {
    padding-bottom: 30px;
justify-items: center;
    display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
            grid-auto-rows: minmax(200px, auto);
    }
  #gridtitle{
    justify-content: center;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

}